language: node_js
env:
  global:
    - CC_TEST_REPORTER_ID=fc219a2fe79c2d1e4b46895a7d98cd2d847f641a5f261b13fc51470d4c473afc
matrix:
  include:
  - node_js: '12'
cache:
  directories: [node_modules]
install:
  npm 
after_success: npm run coverage
before_script:
  - curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64 > ./cc-test-reporter
  - chmod +x ./cc-test-reporter
  - ./cc-test-reporter before-build
script:
  - npm run test
after_script:
  - ./cc-test-reporter after-build --exit-code $TRAVIS_TEST_RESUL
